<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Faster Than Light Technologies, LLC</title>

    <!-- Favicon -->
    <link href="~/favicon.png" rel="icon" type="image/png">

    <!-- Required JS -->
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var appInsights = window.appInsights || function(config) {
            function r(config) {
                t[config] = function() {
                    var i = arguments;
                    t.queue.push(function() { t[config].apply(t, i) })
                }
            }

            var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
            for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;)r("track" + i.pop());
            return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function(config, r, u, e, o) {
                var s = f && f(config, r, u, e, o);
                return s !== !0 && t["_" + i](config, r, u, e, o), s
            }), t
        }({
            instrumentationKey: "ec3a3845-9930-4419-8c4f-8a1f79d91755"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    @RenderBody()
    <hr />
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="col">
                        <h4>Contact us</h4>
                        <ul>
                            <li>80 French Road | Middlesex, VT 05602</li>
                            <li>Phone: +1(802) 223-2317 | Cell: +1(802) 922-0533 </li>
                            <li>Email: <a href="mailto:johnmc0831@gmail.com" title="Email Us">Drop us a note!</a></li>
                            <li>Skype: <a href="skype:john0831vt?call" title="Skype us">FTL Tech</a></li>
                            <li>Solutions at the speed of light</li>
                        </ul>
                    </div>
                </div>

              <div class="col-md-4">
                    <div class="col col-social-icons">
                        <h4>Follow us</h4>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col">
                        <h4>About us</h4>
                        <p class="no-margin">
                            Faster Than Light Technologies, LLC - Delivering Solutions at the speed of light.
                            <br><br>

                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-lg-9 copyright">
                    2016 © Faster Than Light Technologies, LLC. All rights reserved.
                    <a href="#">Terms and conditions</a>
                </div>
                <div class="col-lg-3">
                    <a href="http://www.webpixels.ro" title="Made with love by Mongo" target="_blank" class="">
                        <img src="~/images/FTLLogo-Dark.png" height="30" alt="FTL - Solutions at the speed of light | Logo" class="pull-right">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/essential")
    <script src="~/Scripts/jquery-ui.min.js"></script>

    <!-- Forms -->
    <script src="~/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script>
    <script src="~/assets/ui-kit/js/cusel.min.js"></script>
    <script src="~/assets/sky-forms/js/jquery.form.min.js"></script>
    <script src="~/assets/sky-forms/js/jquery.validate.min.js"></script>
    <script src="~/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/sky-forms/js/jquery.modal.js"></script>
    <!-- Assets  -->
    <script src="~/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/assets/page-scroller/jquery.ui.totop.min.js"></script>
    <!-- Boomerang App JS -->
    <script src="~/Scripts/wp.app.js"></script>
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/respond.js"></script>
    <![endif]-->

@RenderSection("scripts", required: false)
</body>
</html>
